# Override gtk them e
# theme = "Adwaita-dark"
# Override gtk icon theme
# IconTheme = "Adwaita"

# Display minimized windows on taskbars across all outputs
# DisownMinimized = true

# Select terminal emulator to use
Set Term = "foot"

TriggerAction "SIGRTMIN+1", SwitcherEvent "forward"
TriggerAction "SIGRTMIN+2", SwitcherEvent "back"

Function("SfwbarInit") {
#  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
}

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

include("winops.widget")
#include("cal.widget")

layout {

  size = "100%"
  layer = "top"
  #mirror = "*"
  exclusive_zone = "auto"
#  sensor = 300
  monitor = "eDP-1"

  css = "* { min-height: 14px; }"

  pager {
    style = "pager"
    rows = 1
    pins = "1","2","3","4"
    preview = false
    action[Drag] = WorkspaceActivate
  }

  taskbar {
    style = "taskbar"
    rows = 1;
    icons = true;
    labels = true;
    sort = false;
    action[3] = Menu "winops"
    action[Drag] = Focus
    title_width = 16
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  tray {
    rows = 1
  }

# include("battery-svg.widget")
# include("idle.widget")
# include("rfkill-wifi.widget")
# include("rfkill-bt.widget")
# include("network-module.widget")
# include("volume.widget")
  include("mpd-uy.widget")
# include("ncenter.widget")
# include("sway-lang.widget")

  label {
    value = Time("%k:%M")
    interval = 5000
    style ="clock"
    css = "* { -GtkWidget-direction: bottom; }"
  }
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

#*{margin:0;padding:0;}

button,
button image {
  min-height: 0px;
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

label {
  font: 13px CozetteVector;
}

image {
  -ScaleImage-symbolic: true;
}

button#startmenu, button#module {
  border: none;
  padding: 0px;
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#module image {
  min-height: 14px;
  min-width: 14px;
  padding: 0px;
  margin: 0px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_item {
  padding: 0;
  border-radius: 0;
  border-width: 0;
  -GtkWidget-hexpand: false;
}

grid#taskbar > :not(:last-child) button#taskbar_item {
  border-radius: 0px;
  border-right: 1px solid alpha(@theme_fg_color,0.15);
}

button#pager_item.focused,
button#taskbar_item.focused {
  background-color: rgba(255,79,175,0.25);
}

button#taskbar_item.minimized label {
  color: alpha(currentColor, 0.6);
}

button#taskbar_item:hover {
  background-color: rgba(213,213,213,0.6);
}

button#taskbar_item grid {
  -GtkWidget-valign: center;
}

button#taskbar_item image {
  min-width: 14px;
  min-height: 14px;
  padding: 0;
  margin:0;
  -ScaleImage-symbolic: false;
}

button#taskbar_item label {
  padding: 0;
  margin:0;
}

button#tray_item {
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_item.passive {
  -GtkWidget-visible: false;
}

button#tray_item image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  min-height: 16px;
  min-width: 16px;
  padding: 3px;
  margin: 0px;
  border: none;
}

grid#pager {
  border-right: 1px solid alpha(@theme_fg_color,0.15);
}

button#pager_item {
  border-radius: 0;
  border-style: none;
  outline: 0;
  margin: 0;
  padding: 0;
}

#menu_item,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
}

#menu_item image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 2px;
}

label#clock {
  padding-left: 4px;
  padding-right: 10px;
  margin:0;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  font: 13px CozetteVector;
}

chart#cpu_chart {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  -GtkWidget-vexpand: true;
  margin: 2px;
  border: 1px solid @theme_fg_color;
  color: red;
}

#volumescale trough, #volume_scale progress {
  background: rgba(255,79,175,1);
  border-color: rgba(255,79,175,.2);
}

progressbar#memory {
  -GtkWidget-direction: top;
  -GtkWidget-vexpand: true;
  min-width: 9px;
  border: 1px solid @theme_fg_color;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

grid#switcher_item.focused image,
grid#switcher_item.focused {
  background-color: rgba(255,79,175,0.25);
}

grid#switcher_item image,
grid#switcher_item {
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
  -ScaleImage-symbolic: false;
}

window {
  -GtkWidget-direction: top;
}

window#switcher {
  border: 1px solid @borders;
  border-radius: 6px;
  padding: 60px;
  -GtkWidget-hexpand: true;
}

grid#switcher {
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-hexpand: true;
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}
